include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")
	body
		.wrapper
			include ../modules/header/header
			.content
				block content
			include ../modules/footer/footer
		//script(src="static/js/vendor/jquery-3.3.1.min.js")
		//script(src="static/js/vendor/libs.js")
		script(src="static/js/main.js")
		block script
